body {
    background-image:"background.png";
    background-size: cover;
    text-align: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
}

.login_div2{
    margin-top: -430px;
    margin-left: 725px;
    border-radius: 4px;
    background-color: gold;
    box-shadow: 10px 10px;

}

.login_div1{
    border-radius: 4px;
    margin-left: 225px;
    background-color: gold;
    box-shadow: 10px 10px;


}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

label{
font-size: x-large;
font-weight: bold;
}

#player2_name_input{
    margin-top: 30px;
    margin-left: 5px;
    width: 280px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.247);
}
#player1_name_input{
    margin-top: 30px;
    margin-left: 5px;
    width: 280px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.247);
    
}

#btn{
    width: 280px;
    height: 50px;
    margin-top: 25px;
    border-radius: 8px;
    background-color: rgb(30, 30, 255);
    color: mintcream;
    font-size: 20px;
    box-shadow: orange;
}


